{% extends 'base.html' %}

{% block header %}
  <h1>{% block title %}Bienvenue{% endblock %}</h1>
{% endblock %}

{% block content %}
  <p>Votre plateforme de Cloud Souverain, sécurisée et hébergée en France.</p>
  <p>Créez un compte ou connectez-vous pour gérer vos services.</p>
  <div class="offers-section">
    <div class="offer-card">
      <h2>Serveur WordPress</h2>
      <p><strong></strong><br>5 à 10 euros pour un WordPress mutualisé d'un stockage de 100 à 250 GO</p>
    </div>
    <div class="offer-card">
      <h2>Postgre SQL</h2>
      <p><strong>512 Mo - 2 Go</strong><br>5 à 20 euros selon les options de réplication et de sauvegarde</p>

    </div>
    <div class="offer-card">
      <h2>Stockage S3 sécurisé</h2>
      <p><strong>10 GO</strong><br>0.20 à 0.40 euros pour un chiffrement activé avec de la redondance</p>
    </div>
  </div>
{% endblock %} 